
<h2>MY USERS</h2>


<div>
    <label for="new-user">User name:</label>
    <input for="new-user" type="text" #userName />

    <button class="add-button"
            (click)="add(userName.value); userName.value=''">
            ADD
        </button>
</div>

<div>
    <ul class="users">
        <li *ngFor="let user of users" 
        [class.selected]="user === selectedUser" >      
            <a routerLink="/detail/{{user.id}}">
                <span class="badge">{{ user.id }} </span> {{ user.name | titlecase}}
            </a>
            <button class="delete" title="delete user" (click)="deleteUser(user)">X</button>
        </li>
    </ul>
</div>

